#select{
  width:80%;    
  height:100vh;
  margin-left: 10%;
  margin-bottom: auto;
  margin-right: auto;
  margin-top: 10%;
}
.rectangle{
  height:10%;
  margin:5%;
}

.linked{
  display:block;
  height:10%;
  margin:5%;
  border: none;
  color:rgba(0,0,0,0);
  width:90%;
  padding:0;
}


